@mixin header-text-style {
  font-size: 0.9rem;
  color: white !important;
}

.header {
  .navbar-custom {
    background-color: $color-dark;
  }
  .navbar-dark {
    align-items: center;
    .navbar-nav {
      width: 100%;
    }
  }

  .nav-link {
    @include header-text-style();
    padding: 0.4rem 1rem;
    margin: 0 0.25rem;

    &:hover {
      background-color: rgba($color: gray, $alpha: 0.5);
      border-radius: 0.25rem;
      color: white;
    }
  }

  .hide-responsive {
    @include responsive(phone) {
      display: none;
    }
    @include responsive(tab_medium) {
      display: none;
    }
  }
  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-toggler {
    margin: 0.5rem;
    padding: 0;
    border: none;
  }

  .navbar-brand {
    margin-right: 0;
  }
  .logo {
    width: 4rem;
  }
  .nav-items {
    padding: 0.4rem 1.25rem;
    margin: 0 0.25rem;
    cursor: pointer;

    &:hover {
      background-color: rgba($color: gray, $alpha: 0.5);
      border-radius: 0.25rem;
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-hamburger {
      color: gray;
    }
  }

  .header-text {
    @include header-text-style();
  }

  .verticle-line {
    border-right: 2px solid gray;
    width: 1px;
    height: 2.2rem;
  }
}
