$color-dark: #121212;
$color-primary: #f5cf18;
$color-button-text: rgb(87, 153, 239);
$color-button: rgba(255, 255, 255, 0.8);
$color-dark2: rgba(31, 31, 31, 1);
$color-alpha-white: rgba(255, 255, 255, 0.8);
