.watchlist-page {
  margin-top: 1rem;
  .watchlist-items {
    display: flex;
    flex-wrap: wrap;
  }
}

@include responsive(phone) {
  .watchlist-page {
    .watchlist-items {
      justify-content: space-between;
    }
  }
}
