.fan-favorites-container {
  margin-top: 2rem;

  .title {
    @include sectionTitle;
  }

  .sub-title {
    position: relative;
    line-height: 1.5rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;

    &::before {
      background: $color-primary;
      height: 1.5rem;
      position: absolute;
      align-self: flex-start;
      width: 4px;
      content: "";
      left: 0;
      border-radius: 0.25rem;
    }
  }
  .sub-title__desc {
    color: rgba($color: #fff, $alpha: 0.7);
    margin: 0;
  }
  .react-multi-carousel-item {
    margin-top: 1rem;
    margin-bottom: 0rem;

    &:first-child {
      margin-left: 0;
    }
  }
  .carousel-img {
    position: relative;
    width: 95%;
  }

  .watchlist-ribbon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    color: white;
    opacity: 0.8;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    .watchlist-ribbon__bg {
      position: relative;
      background-size: 2rem;
    }
    .watchlist-ribbon__icon {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .featured-details {
    display: flex;
    flex-direction: column;
    background-color: $color-dark;
    height: 8rem;
    width: 95%;
    padding: 0.5rem;

    .rating {
      color: $color-primary;
      display: flex;
      align-items: center;
      svg {
        width: 1rem;
        margin-right: 0.5rem;
      }
    }
    span {
      color: white;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      overflow: hidden;
    }

    button {
      display: flex;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.08);
      color: $color-button-text;
      outline: none;
      margin-top: 1rem;
      border: none;
      border-radius: 0.25rem;
      padding: 0.5rem 0;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
