.featured-today-container {
  margin-top: 2rem;

  .title {
    @include sectionTitle;
  }

  .react-multi-carousel-list {
    width: 75%;
    .container {
      margin: 0;
    }
  }

  .carousel-images {
    justify-content: space-between;
  }

  .carousel-img {
    width: 25rem;
    margin: 1rem;
    margin-bottom: 0rem;

    &:first-child {
      margin-left: 0;
    }
  }

  .featured-details {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    margin-left: 0rem;

    span:first-child {
      width: 70%;
    }
  }
}
