.featured-today-container {
  margin-top: 2rem;

  .title {
    @include sectionTitle;
  }

  .react-multi-carousel-list {
    width: 75%;
    .container {
      margin: 0;
    }
  }

  .carousel-images {
    justify-content: space-between;
  }

  .carousel-img {
    width: 25rem;
    margin: 1rem;
    margin-bottom: 0rem;

    &:first-child {
      margin-left: 0;
    }
  }

  .featured-details {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
    margin-left: 0rem;

    span:first-child {
      display: block;
      width: 100%;
    }

    p {
      width: 95%;
      margin-top: 0.25rem;
      color: $color-alpha-white;

      @include multiLineEllipsis(
        $lineHeight: 1.2em,
        $lineCount: 2,
        $bgColor: black
      );
    }
  }
}

@include responsive(phone) {
  .featured-today-container {
    background: $color-dark;
    padding-top: 1rem;

    .react-multi-carousel-list {
      width: 100%;
    }

    .featured-details {
      margin: 0.5rem 0;

      p {
        width: 100%;
      }
    }
  }
}
