.search-dropdown {
  position: absolute;
  top: 2.5rem;
  height: 90vh;
  width: 100%;
  border-radius: 0.25rem;
  background-color: $color-dark2;
  z-index: 3;
  overflow: scroll;
  overflow-x: hidden;

  .search-items {
    width: 100%;
    .search-item {
      display: flex;
      padding: 0.5rem;
      border-bottom: 1px solid rgba($color: #ccc, $alpha: 0.25);
      align-items: center;

      img {
        width: 3rem;
        height: 100%;
      }
      .details {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;

        .sub-title,
        .rating {
          color: $color-alpha-white;
          font-size: 0.9rem;
        }

        .rating {
          display: flex;
          align-items: center;
          svg {
            margin-left: 0.25rem;
            color: $color-primary;
          }
        }
      }
    }
  }
  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #797979;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
}
