.sign-up {
  background-color: white;
  padding-top: 1rem;
  height: 70vh;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-bottom: 2rem;
    img {
      width: 7rem;
    }

    form {
      width: 60%;
      margin-top: 1rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      padding: 1rem;
      color: black;

      .title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        display: block;
      }

      .form-group {
        margin-bottom: 0.5rem;

        label {
          font-size: 0.9rem;
          font-weight: 500;
          margin-bottom: 0.25rem;
        }

        input {
          border-color: #a6a6a6;
        }
      }

      .btn-primary {
        margin-top: 1rem;
        width: 100%;
        background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
        border: 1px solid #ccc;
        color: black;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;

        &:active,
        &:active:focus {
          color: black;
          border: 1px solid #e77600;
          box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
        }
      }

      .spacing {
        margin-bottom: 1.5rem;
      }
    }
  }

  .divider-section {
    .divider-inner {
      height: 2rem;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.03) 1px,
        transparent
      );
      margin-bottom: -1rem;
    }
    span {
      font-size: 0.75rem;
      cursor: pointer;

      a {
        color: #007bff;
      }
    }
  }
}
